<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">

    <!-- 
    <php>
        <const name="REDIS_HOST" value="localhost"/>
        <const name="REDIS_PORT" value="6379"/>
        <const name="TEST_PREFIX" value="SPLITIO_TEST:."/>
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
 -->
    <testsuites>
        <testsuite name="link">
            <directory suffix="Test.php">tests/Link/</directory>
        </testsuite>
        <testsuite name="transfer">
            <directory suffix="Test.php">tests/Link/Transfer/</directory>
        </testsuite>

        <testsuite name="all">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
