<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd" bootstrap="vendor/autoload.php" executionOrder="depends,defects" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">tests/</directory>
    </testsuite>
    <testsuite name="link">
      <directory suffix="Test.php">tests/Link/</directory>
    </testsuite>
    <testsuite name="transfer">
      <directory suffix="Test.php">tests/Link/Transfer/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
